{% extends 'base.jinja2' %}

{% block content %}
      <form class="form-signin" method="POST">
          <h3 class="form-heading">Новый счет</h3>
          <div class="form-group">
              <label for="inputName" class="sr-only">Название</label>
              <input id="inputName" name="name" type="text"  class="form-control" placeholder="Название" required="">
          </div>
          <div class="form-group">
              <label for="inputScore" class="sr-only">Сумма</label>
              <input id="inputScore" name="score" type="number"  class="form-control" placeholder="Сумма" required="">
          </div>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <a href="/" class="btn btn-secondary">Закрыть</a>
            <button type="submit" class="btn btn-primary">Сохранить</button>
      </form>

      {% include 'form_errors.jinja2' %}

{% endblock %}
