{% extends 'base.jinja2' %}

{% block content %}
    {% if request.user.is_authenticated() %}
        <div class="row equal">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Счета</div>
                    {% if accounts %}
                        <table class="table table-sm">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="col-md-6">Имя</th>
                                    <th class="col-md-4">Сумма</th>
                                    <th class="col-md-2"></th>
                                </tr>
                            </thead>
                            {% for acc in accounts %}
                                <tbody>
                                    <tr>
                                        <td>{{ acc.name}}</td>
                                        <td>{{ acc.score}}</td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a href="/account/update/{{ acc.id }}" class="btn btn-sm btn-outline-info">
                                                    <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                </a>
                                                <button
                                                        class="btn btn-sm btn-outline-danger"
                                                        data-toggle="modal"
                                                        data-target="#deleteAccount"
                                                        data-account="{{acc.name}} {{acc.id}}"
                                                 ><span class="glyphicon glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                 </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                        <div class="panel-body">
                            <h4>Итого: {{ accounts_sum.score__sum }}</h4>
                        </div>
                    {% else %}
                        <div class="panel-body">
                            счетов нет
                        </div>
                    {% endif %}
                    <div class="panel-footer">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#newAccount">Добавить счет</button>
                    </div>
                </div>
            </div>
            <!-- Panel 2 -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">За месяц</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                    <div class="panel-footer ">
                        <a href="/balance/add/" class="btn btn-primary">Добавить расход</a>
                    </div>
                </div>
            </div>
    {% else %}
        <h1>Вы не авторизованы</h1>
        <h3>Если у вас уже есть учетная запись, то перейдите на страницу <a href="/login/">входа</a></h3>
        <h3>Если у вас еще нет учетной записи, то перейдите на страницу <a href="/registration/">регистрации</a></h3>
    {% endif %}

<!-- Modal -->

<!-- New account form -->
<!-- TODO: rewrite forms -->
<div class="modal fade" id="newAccount" tabindex="-1" role="dialog" aria-labelledby="newAccountLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newAccountLabel">Новый счет</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/accounts/add/" method="POST">
        <div class="modal-body">
            <div class="form-group">
                <label for="inputName" class="sr-only">Название</label>
                <input id="inputName" name="name" type="text"  class="form-control" placeholder="Название" required="">
            </div>
            <div class="form-group">
                <label for="inputScore" class="sr-only">Сумма</label>
                <input id="inputScore" name="score" type="number"  class="form-control" placeholder="Сумма" required="">
            </div>
        </div>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete account form -->
<div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteAccountLabel">Удаление счета</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="deleteAccountForm" method="POST">
        <div class="modal-body">
            <p></p>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Удалить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- New operation form -->
<div class="modal fade" id="newOperation" tabindex="-1" role="dialog" aria-labelledby="newOperationLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newOperationLabel">Новая операция</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="newOperationForm" method="POST">
        <div class="modal-body">
            <div class="form-group">
                <label for="inputDate" class="sr-only">Дата</label>
                <input id="inputDate" name="name" type="date"  class="form-control" placeholder="Дата" required="">
            </div>
            <div class="form-group">
                <label for="selectAccount" class="sr-only">Счет</label>
                <select class="form-controll" id="selectAccount">
                    {% for acc in accounts %}
                        <option value="acc.id">{{ acc.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
