{% extends 'base.jinja2' %}

{% block content %}
    {% if request.user.is_authenticated() %}
        <div class="row equal">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Счета</div>
                    {% if accounts %}
                        <table class="table table-sm">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="col-md-6">Имя</th>
                                    <th class="col-md-4">Сумма</th>
                                    <th class="col-md-2"></th>
                                </tr>
                            </thead>
                            {% for acc in accounts %}
                                <tbody>
                                    <tr>
                                        <td>{{ acc.name}}</td>
                                        <td>{{ acc.score}}</td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a href="/account/update/{{ acc.id }}" class="btn btn-sm btn-outline-info">
                                                    <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                </a>
                                                <button
                                                        class="btn btn-sm btn-outline-danger"
                                                        data-toggle="modal"
                                                        data-target="#deleteAccount"
                                                        data-account="{{acc.name}} {{acc.id}}"
                                                 ><span class="glyphicon glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                 </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                        <div class="panel-body">
                            <h4>Итого: {{ accounts_sum.score__sum }}</h4>
                        </div>
                    {% else %}
                        <div class="panel-body">
                            счетов нет
                        </div>
                    {% endif %}
                    <div class="panel-footer">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#newAccount">Добавить счет</button>
                    </div>
                </div>
            </div>
            <!-- Panel 2 -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">За месяц</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                    <div class="panel-footer ">
                        <a href="/balance/add/?type=I" class="btn btn-primary">Добавить доход</a>
                        <a href="/balance/add/?type=C" class="btn btn-primary">Добавить расход</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                      <th>Дата</th>
                      <th>Счет</th>
                      <th>Категория</th>
                      <th>Сумма</th>
                      <th>Операция</th>
                    </tr>
                </thead>
                <tbody>
                  {% for item in balance %}
                    <tr>
                      <td>{{ item.date }}</td>
                      <td>{{ item.account.name }}</td>
                      <td>{{ item.category }}</td>
                      <td>{{ item.amount }}</td>
                      <td>{{ item.get_operation_display() }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h1>Вы не авторизованы</h1>
        <h3>Если у вас уже есть учетная запись, то перейдите на страницу <a href="/login/">входа</a></h3>
        <h3>Если у вас еще нет учетной записи, то перейдите на страницу <a href="/registration/">регистрации</a></h3>
    {% endif %}

<!-- Modal -->

<!-- New account form -->
{% include 'forms/accounts_new_form.jinja2' %}

<!-- Delete account form -->
{% include 'forms/accounts_delete_form.jinja2' %}

{% endblock %}
