{% extends 'base.jinja2' %}

{% block content %}
    <form class="form-signin login" method="POST">
        <h3 class="form-heading">Войдите</h3>
        <label for="inputName" class="sr-only">Имя пользователя</label>
        <input id="inputName" name="username" type="text"  class="form-control" placeholder="Имя пользователя" required="">
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input id="inputPassword" name="password" type="password"  class="form-control last-input" placeholder="Пароль" required="">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
    </form>

    {% include 'form_errors.jinja2' %}
    
{% endblock %}